<html>
<body>
  <div class="content">
    <div style="display: flex;">
      
      <div class="left"  *ngIf="!toggle">
      <div class="catg-menu">
        <button (click)=" catgchange($event)" class="catg"  value="home" >Home</button>
        <button (click)=" catgchange($event)" class="catg"  value="education">Education</button>
        <button (click)=" catgchange($event)"class="catg" value="projects" >Projects</button>
        <button (click)=" catgchange($event)"class="catg" value="certifications">Certifications</button>
        <button (click)=" catgchange($event)"class="catg" value="publications" style="border-right: 0px;">Publications</button>
      </div>
    </div>
    <div class="right" [ngStyle]="{'flex': toggle ? '0 0 100%' : '0 0 70%' }">
      <div class="left2" *ngIf="toggle">
        <button (click)=" changetoggle($event)" style="border: none;background-color: none;"><img src="../assets/menu.svg" style="height: 40px;"></button>
      </div>
      <div [ngSwitch]="catg" class="clickable-div">
        <div *ngSwitchCase="'home'">
          <div style="display: flex;flex-direction: column;align-items: center;">
            <h1 style="text-align: center;">Vikram Nunna</h1>
          <img src="../assets/vikram.jpeg" style="height: 330px;width: 350px;border-radius:50%;margin-top: 10px;position: relative;">
          <p style="margin: 20px;margin-top: 30px;font-size: 1.5em;">Individual with adaptive work culture, analytical thinking, and problem-solving. Aiding the team to walk in the 
      
            success path and strive to provide the fortunate result irrespective of the situation.</p>
            <div class="skills" >

              <div class="svg-container">
                <img src="../assets/java.svg">
                <div class="svg-text" >Java</div>
              </div>

              <div class="svg-container">
                <img src="../assets/python.svg">
                <div class="svg-text" >python</div>
              </div>

              <div class="svg-container">
                <img src="../assets/spring-boot.svg">
                <div class="svg-text" >spring-boot</div>
              </div>

              <div class="svg-container">
                <img src="../assets/sql.svg">
                <div class="svg-text" >sql</div>
              </div>

              <div class="svg-container">
                <img src="../assets/angular.svg">
                <div class="svg-text" >angular</div>
              </div>

              <div class="svg-container">
                <img src="../assets/html.svg">
                <div class="svg-text" >html</div>
              </div>

              <div class="svg-container">
                <img src="../assets/css.svg">
                <div class="svg-text" >css</div>
              </div>
            
              <div class="svg-container">
                <img src="../assets/tableau.svg">
                <div class="svg-text" >tableau</div>
              </div>
            
          </div>
        </div>
      </div>
        <div *ngSwitchCase="'education'">
          education
        </div>
        <div *ngSwitchCase="'projects'">
          projects
        </div>
        <div *ngSwitchCase="'certifications'" >
          <div style="display:flex;flex-direction: column;align-items: center;height: 100vh;justify-content: center;">
          <p class="certifications-text">ServiceNow - Certified System Administrator</p>
          <p class="certifications-text">Oracle Java</p>
          <p class="certifications-text">Codechef</p>
          <p class="certifications-text">UI path RPA</p>
        </div>
        </div>
        <div *ngSwitchCase="'publications'">
          publications
        </div>
      </div>
     
  </div>
</div>
  <div>
    
  </div>
  </div>
</body>
</html>